@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Exo:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    /* background-color:black; */
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.395);
}

nav .logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

nav .logo1 span a {
    text-decoration: none;
    color: white;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 20px;
}

nav .menu{
    display: flex;
    gap: 4vw;
}

nav div ul{
    display: flex;
    gap: 4vw;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav div ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    font-family: "Baloo Bhai 2", sans-serif;
}

div a img {
    height: 5vh;
    margin-top: 0.4vh;
    border: 3px solid white;
    border-radius: 30px;
}

.head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    word-spacing: 0.4vw;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 7rem;
}

div h2{
    margin-top: 8vh;
    font-size: 2.5rem;
    /* margin-left: 17vw; */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.4vw;
    font-weight: bold;
    /* text-decoration-line: underline; */
    color: #865217;
    /* background-color: black; */
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.395); */
}


.h1 {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    font-size: 2rem;
    color: goldenrod;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.h2 {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: 1.5rem;
    color: goldenrod;
    font-weight: 600;
}

.current1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.current1 div img{
    width: 5.2rem;
}

.current1 :nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1vw;
    color: #e4b784;
    font-family: Arial, Helvetica, sans-serif;
}

.current1 :nth-child(3){
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1vw;
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.current2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.current2 div img {
    width: 5.2rem;
}

.current2 :nth-child(2){
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1vw;
    color: #e4b784;
    font-family: Arial, Helvetica, sans-serif;
}

.current2 :nth-child(3){
    font-size: 2rem;
    color: white;
    letter-spacing: 0.1vw;
    font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.currentwhole{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6vw;
    margin-top: 7vh;
    background-color: #000000;
    padding: 1.5vw;
    /* margin-left: 35vw;
    margin-right: 35vw; */
    width: 370px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.currentwhole1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.pt1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pt{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:3vw;
    margin-top: 10vh;
    background-color: #000000;
    width: 93vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-radius: 8px;
    box-shadow: 0px 1px 10px 10px rgba(0, 0, 0, 0.2);
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.time1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8vh;
}

.time1 .text{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: white;
}

.time2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
}

.time2 .text{
    font-size: 1.2em;
    letter-spacing: 0.1em;
    color: white;
}

.january{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.january div span{
    font-size: 1.2em;
}

.february{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.february div span{
    font-size: 1.2em;
}

.march{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.march div span{
    font-size: 1.2em;
}

.april{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.april div span{
    font-size: 1.2em;
}

.may{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.may div span{
    font-size: 1.2em;
}

.june{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.june div span{
    font-size: 1.2em;
}

.july{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.july div span{
    font-size: 1.2em;
}

.august{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.august div span{
    font-size: 1.2em;
}

.september{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.september div span{
    font-size: 1.2em;
}

.october{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.october div span{
    font-size: 1.2em;
}

.november{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    background-color: #1f1f1f; 
        border-radius: 8px;
        color: #e4b784;
    padding: 2vw 1vw 2vw 1vw;
}

.november div span{
    font-size: 1.2em;
}

.december{
    display: flex;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 8vh;
    color: white;
}

.december div span{
    font-size: 1.2em;
}

.aboutvideo {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
    align-items: center;
}

.aboutvideo div iframe {
    padding: 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 20vh;
    border-top: 1px solid black;
    padding-top: 10vh;
    background-color: rgb(0, 0, 0);
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

footer .logo a img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
}

footer .logo a{
    text-decoration: none;
    font-size: 25px;
    color: #e4b784;
}

footer .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1vh;
}

footer .follow .followhead {
    font-size: 25px;
    font-weight: bold;
    color: #e4b784;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .follow .followlogo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4vw;
}

footer .follow .followlogo ul li a i {
    margin-top: 3vh;
    margin-bottom: 7vh;
    font-size: 40px;
    color: white;
}

@media only screen and (max-width: 600px){
    nav .logo1 {
        flex-direction: column;
        /* margin-right: 8vw; */
        margin-left: 2vw;
        margin-top: 0.5vh;
        gap: 0.1vh;
    }

    nav {
        height: 11vh;
        gap: 16vw;
    }

    nav .menu{
        margin-top: 0.5vh;
        gap: 4vh;
    }

    nav div ul {
        flex-direction: column;
        align-items: start;
        gap: 1.5vh;
    }

    /* nav div .ul1{
        margin-right: 3vw;
    }

    nav div .ul2{
        margin-left: 3vw;
    } */

    /* nav .menu .ul1 {
        gap: 24vw;
    }

    nav .menu .ul2{
        gap: 11vw;
    } */

    nav div ul li a {
        font-size: 14px;
        /* word-wrap: break-word; */
    }

    footer {
        flex-direction: column;
        margin-top: 10vh;
    }

    footer .follow .followlogo ul {
        /* flex-direction: column; */
        gap: 30px;
    }

    footer .follow .followlogo ul li a svg{
        width: 7vw;
    }

    footer .logo a img{
        width: 5vh;
        height: 5vh;
    }
}

@media only screen and (max-width: 1400px) {



    .head h2{
        font-size: 1.2rem;
    }
    .head {
        font-size: 1.3rem;
        margin-bottom: 40px;
        margin-top: 30px;
        word-spacing: 0.6vw;
        margin-top: 120px;
    }

    div h2{
        margin-top: 20px;
        font-size: 3vh;
    }
    .h1{
        margin-top: 10vh;
    }
    .currentwhole {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        margin-top: 7vh;
        background-color: #000000;
        padding: 4.5vw;
        width: 270px;
        border-radius: 8px;
    }
    .h1{
        font-size: 1.3rem;
    }
    .h2{
        font-size: 1rem;
    }
    .pt{
        flex-direction: column;
        gap: 2.5vh;
        width: 350px;
    }
    .time{
        flex-direction: row;
        margin-left: 110px;
    }
    .time1{
        margin-top: 1vh;
    }
    /* .time2{
        flex-direction: row;
    } */
    .january{
        flex-direction: row;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .january div span{
        text-align: center;
    }
    .february{
        flex-direction: row;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .february div .febmor{
        text-align: center;
    }
    .february div .febeve{
        margin-right: 10px;
        text-align: center;
    }
    .february div .febabt{
        /* margin-left: ; */
    }
    .march{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .march div .marmor{
        margin-left: 10px;
    }
    .april{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .april div .aprmor{
        margin-left: 20px;
    }
    .may{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .may div .maymor{
        margin-left: 25px;
    }
    .june{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .june div .junemor{
        margin-left: 25px;
    }
    .july{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .july div .julymor{
        margin-left: 30px;
    }
    .august{
        flex-direction: row;
        gap: 11vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .august div .augmor{
        margin-left: 8px;
    }
    .september{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .september div .septeve{
        margin-right: 20px;
    }
    .october{
        flex-direction: row;
        gap: 10vw;
        padding: 2vw 5vw 2vw 5vw;
        border: 0.5px solid #e4b784;
        border-radius: 8px;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
    }
    .october div .octoeve{
        /* margin-right: ; */
    }
    .november{
        flex-direction: row;
        gap: 10vw;
        padding: 2vw 5vw 2vw 5vw;
        background-color: #1f1f1f;
        border: 0.5px solid black;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
    }
    .november div .noveve{
        margin-right: 20px;
    }
    .december{
        flex-direction: row;
        gap: 10vw;
        border: 0.5px solid #e4b784;
        padding: 10px 35px ;
        gap: 40px;
        width: 250px;
        border-radius: 8px;
    }
    .december div .deceve{
        margin-right: 18px;
    }
    .aboutvideo {
        flex-direction: column;
        margin-top: 6vh;
        gap: 5vh;
    }

    .aboutvideo div iframe {
        width: 60vw;
    }

    
}