@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 9vh;
}

nav div {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 1vw;
}

nav div span a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    gap: 2vw;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: rgb(255, 255, 255);
    font-size: 17px;
    text-decoration: none;
}

div a img {
    height: 4vh;
    margin-top: 0.4vh;
    border: 3px solid white;
    border-radius: 30px;
}

.head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.3vw;
    word-spacing: 0.4vw;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.banner img {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 5vh;
    margin-bottom: 5vh;

}

.quote {
    text-align: center;
    font-weight: bold;
    word-spacing: 0.5vw;
    font-size: 1.7vw;
    margin-top: 8vh;
    line-height: 7vh;
    font-family: "Baloo 2", sans-serif;
}

.quote div:nth-child(2) {
    margin-left: 38vw;
    font-size: 1.1em;
}

.about1 {
    margin-top: 25vh;
    font-size: 3vw;
    /* margin-left: 17vw; */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.4vw;
    font-weight: bold;
    text-decoration-line: underline;
    color: rgb(7, 50, 1);
    text-transform: uppercase;
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    gap: 7vw;

}

.about2 div img {
    height: 60vh;
    border-radius: 40px;
}

div.about2 .about {
    width: 30vw;
    font-size: 22px;
    line-height: 7vh;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-align: right;
}

.aboutvideo {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top: 5vw;
    align-items: center;
}

.aboutvideo div iframe {
    border-radius: 10px;
    padding: 20px;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.pt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 8vh;
}

.pt div img {
    height: 60vh;
    border-radius: 20px;
}

.pt .ptvid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.pt .ptvid .mor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vh 2vh 3vh 2vh;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.pt .ptvid .mor div iframe {
    border-radius: 5px;
}

.pt .ptvid .mor .morhead {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.pt .ptvid .eve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vh 2vh 3vh 2vh;
    background-color: rgb(226, 226, 226);
    border-radius: 5px;
}

.pt .ptvid .eve div iframe {
    border-radius: 5px;
}

.pt .ptvid .eve .evehead {
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    border: 6px solid blue;
    margin-left: 25vw;
    margin-right: 25vw;
    gap: 5vw;
    padding: 1vw;
    border-radius: 5px;
}

.event div img{
    width: 25vw;
    border-radius: 5px ;
}

.event .aboutevent {
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

.event .aboutevent div{
    line-height: 5vh;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.2vw;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 5vw;
}

.contact .info {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4vh;
}

.contact .info .number {
    font-size: 25px;
    font-weight: bold;
}

.contact .info .email {
    font-size: 25px;
}
.contact .info .address {
    text-align: center;
    line-height: 5vh;
    font-size: 25px;
}

.contact .map {
    border: 2px solid blue;
    padding: 3px;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 20vh;
    border-top: 1px solid black;
    padding-top: 10vh;
    background-color: rgb(159, 158, 158);
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

footer .logo a img{
    border: 3px solid black;
    border-radius: 30px;
}

footer .follow{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1vh;
}

footer .follow .followhead{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .follow .followlogo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4vw;
}

footer .follow .followlogo ul li a svg{
    width: 3vw;
}

@media only screen and (max-width: 600px) {
    nav div {
        flex-direction: column;
        margin-right: 8vw;
        margin-left: 2vw;
    }

    nav {
        height: 9vh;
    }

    nav ul {
        gap: 0.5vw;
    }

    nav ul li a {
        margin: 1vh 0vw;
        padding: 1vh 0.3vw;
        font-size: 14px;
    }

    .head {
        font-size: 2.5vh;
        margin-bottom: 40px;
        margin-top: 30px;
        word-spacing: 0.6vw;
    }

    .banner img {
        width: 100vw;
        margin: 0;
    }

    .quote {
        font-size: 3vw;
        margin-top: 3vh;
        font-size: 3vw;
    }

    .quote div:nth-child(2) {
        margin-top: -2vh;
    }


    .about1 {
        font-size: 3vh;
        margin-top: 8vh;
    }

    .pt {
        flex-direction: column;
        margin-top: 4vh;
    }

    .pt .ptvid {
        gap: 2vh;
        flex-direction: row;
    }

    .pt div img {
        height: 40vh;
    }

    .pt .ptvid .mor {
        width: 27vw;
    }

    .pt .ptvid .mor .morhead{
        text-align: center;
    }

    .pt .ptvid .mor iframe {
        width: 27vw;
    }

    .pt .ptvid .eve {
        width: 27vw;
    }
    
    .pt .ptvid .eve .evehead{
        text-align: center;
    }
    .pt .ptvid .eve iframe {
        width: 27vw;
    }
}

@media only screen and (max-width: 1100px) {
    .about2 {
        flex-direction: column;
        margin-top: 6vh;
    }

    .about2 div img {
        height: 50vw;
        border-radius: 40px;
    }

    div.about2 .about {
        width: 35vh;
        text-align: justify;
        line-height: 4vh;
        font-size: 16px;
    }

    .aboutvideo {
        flex-direction: column;
        margin-top: 6vh;
        gap: 5vh;
    }

    .aboutvideo div iframe {
        width: 60vw;
    }

    .event {
        flex-direction: column;
        padding: 2vh;
        margin-left: 15vw;
        margin-right: 15vw;
        margin-top: 2.5vh;
    }

    .event .aboutevent {
        width: 50vw;
    }

    .event div img{
        width: 50vw;
    }

    .contact {
        flex-direction: column;
        margin-top: 2vh;
    }

    .contact .map{
        width: 60vw;
    }

    .contact .map iframe{
        width: 60vw;
        height: 20vh;
    }

    .contact .info .number{
        font-size: 23px;
    }
    .contact .info {
        gap: 1.8vh;
    }

    .contact .info .email{
       font-size: 20px;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    .contact .info .address {
        width: 60vw;
        line-height: 3.5vh;
        font-size: 23px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    footer {
        flex-direction: column;
    }

    footer .follow .followlogo ul {
        flex-direction: column;
        gap: 1px;
    }

    footer .follow .followlogo ul li a svg{
        width: 7vw;
    }
}
