@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
}



nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 9vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.395);
}

nav .logo1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

nav .logo1 span a {
    text-decoration: none;
    color: white;
    font-family: "Baloo Bhai 2", sans-serif;
    font-size: 20px;
}

nav .menu{
    display: flex;
    gap: 2vw;
}

nav div ul{
    display: flex;
    gap: 2vw;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav div ul li a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    font-family: "Baloo Bhai 2", sans-serif;
}

div a img {
    height: 5vh;
    margin-top: 0.4vh;
    border: 3px solid white;
    border-radius: 30px;
}

.head {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2.3rem;
    word-spacing: 0.4vw;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 8rem;
}

.banner img {
    width: 70vw;
    margin-left: 15vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
}


.quote {
    text-align: center;
    font-weight: bold;
    word-spacing: 0.5vw;
    font-size: 1.7rem;
    margin-top: 8vh;
    line-height: 7vh;
    font-family: "Baloo 2", sans-serif;
}

.quote div:nth-child(2) {
    margin-left: 38vw;
    font-size: 0.9em;
    word-spacing: 0.2em;
}

.about1 {
    margin-top: 15vh;
    font-size: 2.5rem;
    /* margin-left: 17vw; */
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    word-spacing: 0.4vw;
    font-weight: bold;
    /* text-decoration-line: underline; */
    color: #e4b784;
    background-color: black;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-transform: uppercase; */
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.395);
}

.about2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    gap: 8vw;

}

.about2 div img {
    height: 60vh;
    width: 25vw;
    border-radius: 40px;
    box-shadow: 0 0 50px rgb(121, 208, 235),
    0 0 100px rgb(121, 208, 235);
}

div.about2 .about {
    width: 30vw;
    font-size: 22px;
    line-height: 7vh;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    text-align: right;
}

.aboutvideo {
    display: flex;
    justify-content: center;
    gap: 10vw;
    margin-top:18vh;
    align-items: center;
}

.aboutvideo .abtvid1 {
    width: 28vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30vh;
}

.aboutvideo .abtvid2 {
    width: 28vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 30vh;
}

.aboutvideo div iframe {
    border-radius: 10px;
    /* padding: 20px; */
    background-color: rgb(0, 0, 0);
    border: 4px solid #e4b784;
    border-radius: 5px;
    width: 25vw;
    height: 25vh;
}

.pt {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 8vh;
}

.pt div img {
    height: 60vh;
    border-radius: 20px;
}

.pt .ptvid {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    gap: 8vw;
}

.pt .ptvid .mor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vh 2vh 3vh 2vh;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 22vw;
}

.pt .ptvid .mor div iframe {
    border-radius: 5px;
    width: 20vw;
    border: 4px solid #e4b784;
}

.pt .ptvid .mor .morhead {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #e4b784;
}

.pt .ptvid .eve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vh 2vh 3vh 2vh;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    width: 22vw;
}

.pt .ptvid .eve div iframe {
    border-radius: 5px;
    width: 20vw;
    border: 4px solid #e4b784;
}

.pt .ptvid .eve .evehead {
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #e4b784;
}

.event {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    border: 15px solid rgb(0, 0, 0);
    margin-left: 25vw;
    margin-right: 25vw;
    gap: 5vw;
    padding: 1vw;
    border-radius: 5px;
}

.event div img {
    width: 19vw;
    height: 55vh;
    border-radius: 5px;
    border: 10px solid #e4b784;
}

.event .aboutevent {
    width: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
}

.event .aboutevent div {
    line-height: 5vh;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.1vw;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    gap: 8vw;
    margin-left: 8vw;
}

.contact .info {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 4vh;
}

.contact .info .number {
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 25px;
    font-weight: bold;
}

.contact .info .number i{
    color: green;
    font-size: 35px;
    
}

.contact .info .number a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .info .number a:hover{
    text-decoration: underline;
}

.contact .info .email {
    font-size: 25px;
    display: flex;
    align-items: center;
    gap: 1vw;
}

.contact .info .email a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .info .email a:hover{
    text-decoration: underline;
}

.contact .info .email i{
    margin-top: 0.5vh;
    color: red;
    font-size: 25px;
}

.contact .info .address {
    text-align: start;
    line-height: 5vh;
    font-size: 25px;
    display: flex;
    gap: 1vw;
    /* margin-left: 2vw; */
}

.contact .info .address span a:hover{
    text-decoration: underline;
}

.contact .info .address i{
    margin-top: 0.5vh;
    color: blue;
}

.address span a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.contact .map div{
    background-color: #e4b784;
    padding: 3px;
    border: 10px solid black;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    margin-top: 20vh;
    border-top: 1px solid black;
    padding-top: 10vh;
    background-color: rgb(0, 0, 0);
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

footer .logo a img {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 30px;
}

footer .logo a{
    text-decoration: none;
    font-size: 25px;
    color: #e4b784;
}

footer .follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1vh;
}

footer .follow .followhead {
    font-size: 25px;
    font-weight: bold;
    color: #e4b784;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer .follow .followlogo ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 4vw;
}

footer .follow .followlogo ul li a i {
    margin-top: 3vh;
    margin-bottom: 7vh;
    font-size: 40px;
    color: white;
}

@media only screen and (max-width: 600px) {
    nav .logo1 {
        flex-direction: column;
        /* margin-right: 8vw; */
        margin-left: 2vw;
        margin-top: 0.5vh;
        gap: 0.1vh;
    }

    nav {
        height: 11vh;
        gap: 16vw;
    }

    nav .menu{
        margin-top: 0.5vh;
        gap: 4vh;
    }

    nav div ul {
        flex-direction: column;
        align-items: start;
        gap: 1.5vh;
    }

    /* nav div .ul1{
        margin-right: 3vw;
    }

    nav div .ul2{
        margin-left: 3vw;
    } */

    /* nav .menu .ul1 {
        gap: 24vw;
    }

    nav .menu .ul2{
        gap: 11vw;
    } */

    nav div ul li a {
        font-size: 14px;
        /* word-wrap: break-word; */
    }

    .head {
        font-size: 1.3rem;
        margin-bottom: 40px;
        margin-top: 30px;
        word-spacing: 0.6vw;
        margin-top: 120px;
    }

    .banner img {
        width: 100vw;
        margin: 0;
    }

    .quote1 {
        font-size: 0.75rem;
        margin-top: 3vh;
    }

    .quote div:nth-child(2) {
        margin-top: -2vh;
        margin-left: 15vw;
        font-size: 0.8rem;
    }


    .about1 {
        font-size: 3vh;
        margin-top: 8vh;
    }

    .pt {
        flex-direction: column;
        margin-top: 4vh;
    }

    .pt .ptvid {
        gap: 3vh;
        flex-direction: column;
    }

    .pt div img {
        height: 40vh;
    }

    .pt .ptvid .mor {
        width: 60vw;
        height: 20vh;
    }

    .pt .ptvid .mor .morhead {
        text-align: center;

    }

    .pt .ptvid .mor div iframe {
        width: 55vw;
        height: 15vh;
    }

    .pt .ptvid .eve {
        width: 60vw;
        height: 20vh;
    }

    .pt .ptvid .eve .evehead {
        text-align: center;
    }

    .pt .ptvid .eve div iframe {
        width: 55vw;
        height: 15vh;
    }

    footer {
        flex-direction: column;
        margin-top: 10vh;
    }

    footer .follow .followlogo ul {
        /* flex-direction: column; */
        gap: 30px;
    }

    footer .follow .followlogo ul li a svg {
        width: 7vw;
    }
}

@media only screen and (max-width: 1100px) {
    .about2 {
        flex-direction: column;
        margin-top: 6vh;
    }

    .about2 div img {
        height: 280px;
        width: 250px;
        border-radius: 40px;
        margin-top: 5vh;
    }

    div.about2 .about {
        width: 35vh;
        text-align: justify;
        line-height: 4vh;
        font-size: 16px;
        margin-top: 2vh;
    }

    .aboutvideo {
        flex-direction: column;
        margin-top: 6vh;
        gap: 5vh;
    }

    .aboutvideo .abtvid1{
        width: 60vw;
    }

    .aboutvideo div iframe {
        width: 50vw;
    }

    .aboutvideo .abtvid2{
        width: 60vw;
    }

    .event {
        flex-direction: column;
        padding: 2vh;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 2.5vh;
    }

    .event .aboutevent {
        width: 55vw;
    }

    .event div img {
        width: 250px;
        height: 330px;
    }

    .contact {
        flex-direction: column;
        margin-top: 6vh;
        align-items: center;
    }

    .cotatact .info{
        
    }

    .contact .map div {
        width: 60vw;
    }

    .contact .map iframe {
        width: 60vw;
        height: 20vh;
    }


    .contact .info .number {
        font-size: 20px;
        gap: 3vw;
        margin-right: 10vw;
    }

    .contact .info .number i{
        font-size: 25px;
    }

    .contact .info {
        gap: 1.8vh;
        width: 24rem;
        
    }

    .contact .info .email {
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        gap: 3vw;
        margin-right: 10vw;
    }

    .contact .info .email i{
        margin-bottom: 0.35vh;
    }

    .contact .info .address {
        width: 22rem;
        line-height: 3.5vh;
        font-size: 20px;
        gap: 3vw;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

   
}